.check-result-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}


.glass-container {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  max-width: 500px;
  width: 100%;
  text-align: center;
  margin-top: 120px;
}


.glass-container h1 {
  font-size: 2.5em;
  color: #ff6a00;
  margin-bottom: 10px;
}

.glass-container p {
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 30px;
  line-height: 1.4;
}

.check-result-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.check-result-form input {
  padding: 22px 25px;
  border-radius: 12px;
  border: 2px solid #ff6a00;
  background: rgba(26, 26, 26, 0.7);
  color: #fff;
  font-size: 1.1em;
  text-align: center;
  width: 100%;
  max-width: 450px;
}

.check-result-form button {
  padding: 18px 30px;
  border: none;
  border-radius: 12px;
  background: #ff6a00;
  color: #fff;
  font-size: 1.1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  max-width: 450px;
  transition: background 0.1s, transform 0.3s;
}

.check-result-form button:hover {
  background: #ff3c00;
  transform: scale(1.05);
}


.check-result-form button i {
  font-size: 1.2em;
}


.download-id-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.download-glass-container {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  max-width: 500px;
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

.download-glass-container h1 {
  font-size: 2em;
  color: #ff6a00;
  margin-bottom: 10px;
}

.download-glass-container p {
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 30px;
  line-height: 1.4;
}

.download-id-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.download-id-form input {
  padding: 22px 25px;
  border-radius: 12px;
  border: 2px solid #ff6a00;
  background: rgba(26, 26, 26, 0.7);
  color: #fff;
  font-size: 1.1em;
  text-align: center;
  width: 100%;
  max-width: 450px;
}

.download-id-form button {
  padding: 18px 30px;
  border: none;
  border-radius: 12px;
  background: #ff6a00;
  color: #fff;
  font-size: 1.1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  max-width: 450px;
  transition: background 0.3s, transform 0.3s;
}

.download-id-form button:hover {
  background: #ff3c00;
  transform: scale(1.05);
}

.download-id-form button i {
  font-size: 1.2em;
}

.active {
  color: #ff5005 !important;
}